@model COMP003B.Assignment3.Models.EventRegistration

<ul>
    <li><a asp-controller="Event" asp-action="EventRegistration" asp-route-eventCode="spring-2025">Spring 2025 Registration</a></li>
    <li><a asp-controller="Event" asp-action="EventRegistration" asp-route-eventCode="fall-2025">Fall 2025 Event</a></li>
    <li><a asp-controller="Event" asp-action="Register">General Registration</a></li>
</ul>